# Byte-compiled / temporary files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.swp
*.swo
*.bak
*.tmp

# Virtual environment
env/
venv/
ENV/
.venv/
.env/

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Log files
*.log

# Build
build/
dist/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Secrets and environment variables
.env
*.secret